<template>
    <div class="intro">
        
        <p>
            Visit my online <a href="https://about.kirinnee.dev" target="_blank">portfolio</a> or help me
            star my <a href="https://github.com/kirinnee">Github repositories</a> if I helped!
        </p>
    </div>
</template>

<style scoped lang="scss">
    .intro {
        font-family: Roboto, sans-serif;

        p {
            padding: 20px;
        }

    }
</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class Home extends Vue {
    }
</script>