<template>
    <div class="nav-bar">
        <div class="basic">
            <router-link to="/">Home</router-link>
            <router-link to="/int1">Integration Assignment 1</router-link>
            <router-link to="/int2">Integration Assignment 2</router-link>

        </div>
    </div>
</template>

<style lang='scss' scoped>
    .basic {
        width: 100%;
        font-size: 20px;
        font-family: "Roboto Light", sans-serif;
        display: flex;
        a {
            display: block;
            padding: 8px 12px;
            color: darkcyan;
            text-decoration: none;
            transition: background 0.2s, color 0.2s;
            &:hover{
                color: white;
                background: darkcyan;
            }
        }
    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';

    @Component({})
    export default class NavBar extends Vue {

    }
</script>
