<template>
    <div>
        <h1> Question {{n}}</h1>
        <img :src="q" alt="Question">
        <div v-for="(v,i) in Inputs">
            <label>
                {{v}}:
                <input v-model="inputVal[i]">
            </label>
        </div>
        <div>
            <div class="ans-header">Answer:</div>
            <div class="ans">
                <div class="ans-box">
                    {{Answer}}
                </div>
                <div @click="Copy" class="copy">
                    <img :src="SideIcon" width="20px" height="20px">
                </div>
            </div>
        </div>
        <div>
            <div class="flex">
                <div class="ans-header">Solution</div>
                <button @click="show = !show">{{show ? "Hide": "Show"}}</button>
            </div>
            <div class="soln" v-if="show">
                <img :src='sol' alt="Solution">
            </div>
        </div>
        <hr>
    </div>
</template>

<style lang='scss' scoped>
    .ans {
        display: flex;
        margin: 0 10px;

        .ans-box {
            border: dashed 1px grey;
            min-width: 50px;
        }

        img {
            margin: 0 10px;
        }

    }

    label {
        font-size: 20px;
    }

    .soln {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }

    .flex {
        button {
            border: none;
            background: darkcyan;
            color: white;
            cursor: pointer;
            padding: 5px 8px;
            margin: 0 8px;

            &:hover {
                background: darkcyan*0.8;
            }
        }

        display: flex;
    }

    .ans-header {
        font-weight: 900;
        padding: 5px 8px;
    }

    input {
        padding: 5px;
        margin: 5px 0;
    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';
    import {CopyToClipBoard} from "../init";

    @Component({
        props: {
            inputs: Number,
            eq: Function,
            q: String,
            sol: String,
            n: Number,
        }
    })
    export default class Question extends Vue {
        n?: number;
        inputs?: number;
        eq?: Function;
        q?: string;
        sol?: string;
        inputVal: string[] = [];
        show = false;
        copied = false;

        created() {
            this.Inputs.Each(x => {
                this.inputVal.push('');
            });
        }

        get Inputs(): string[] {
            return 'abcdefghijklmnopqrstuvwxyz'.split('').Take(this.inputs!);
        }

        get Answer(): string {
            try {
                return this.inputVal.All(changed => changed !== '') ? this.eq!(this.inputVal) : '';
            } catch (e) {
                console.log(e);
                return "";
            }
        }

        Copy() {
            CopyToClipBoard(`${this.Answer}`);
            this.copied = true;
            setTimeout(() => {
                this.copied = false;
            }, 2000);
        }

        get CopyIcon(): string {
            return "https://yarnpkg.com/assets/detail/ico-copy-default.svg";
        }

        get DoneIcon(): string {
            return "https://yarnpkg.com/assets/detail/ico-copy-success.svg";
        }

        get SideIcon(): string {
            return this.copied ? this.DoneIcon : this.CopyIcon;
        }

    }
</script>
