<template>
    <div class="intro">
        <h1>Integration Assignment 1</h1>
        <Question :n=1 :eq="Question1" :inputs=0 :q="images.i2q1" :sol="images.i2a1"/>
        <Question :n=2 :eq="Question2" :inputs=4 :q="images.i2q2" :sol="images.i2a2"/>
        <Question :n=3 :eq="Question3" :inputs=4 :q="images.i2q3" :sol="images.i2a3"/>
        <Question :n=4 :eq="Question4" :inputs=0 :q="images.i2q4" :sol="images.i2a4"/>
        <Question :n=5 :eq="Question5" :inputs=1 :q="images.i2q5" :sol="images.i2a5"/>
        <Question :n=6 :eq="()=>'0'" :inputs=0 :q="images.i2q6" :sol="images.i2a6"/>
        <Question :n=7 :eq="Question7" :inputs=1 :q="images.i2q7" :sol="images.i2a7"/>
        <Question :n=8 :eq="Question8" :inputs=3 :q="images.i2q8" :sol="images.i2a8"/>
        <Question :n=9 :eq="Question9" :inputs=1 :q="images.i2q9" :sol="images.i2a9"/>
        <Question :n=10 :eq="Question10" :inputs=2 :q="images.i2q10" :sol="images.i2a10"/>


        <div class="outro">
            I'm Ernest from EEE (2019). If you liked this or it helped,
            visit my online <a href="https://about.kirinnee.dev" target="_blank">portfolio</a> or help me
            star my <a href="https://github.com/kirinnee">Github repositories</a>!
            <div class="h">
                <div>Thanks</div>
                <div id="heart"></div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    #heart {
        position: relative;
        width: 50px;
        height: 45px;
        animation: heartbeat 1s infinite;
        margin: 0 auto;
    }

    #heart:before,
    #heart:after {
        position: absolute;
        content: "";
        left: 25px;
        top: 0;
        width: 25px;
        height: 40px;
        background: red;
        border-radius: 25px 25px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    #heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }


    @keyframes heartbeat {
        0% {
            transform: scale(.75);
        }
        20% {
            transform: scale(1);
        }
        40% {
            transform: scale(.75);
        }
        60% {
            transform: scale(1);
        }
        80% {
            transform: scale(.75);
        }
        100% {
            transform: scale(.75);
        }
    }

    .h {
        div {
            float: left;

        }
    }

    .outro {
        font-size: 30px;
        margin: 15px;
        padding: 100px 0;
    }

    .intro {
        font-family: Roboto, sans-serif;

        p {
            padding: 20px;
        }

        .ans {
            margin: 20px 0;
            font-size: 20px;
        }
    }
</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Question from "../components/Question.vue";
    import n2f from "num2fraction";
    import {images} from "../index";

    @Component({
        components: {Question}
    })
    export default class IntegrationAssignment2 extends Vue {
        images: any = images;

        Question1(input: string[]): string {
            return "1";
        }

        Question2([a, b, c, d]: string[]): string {
            const v1 = 2 * a.ToFloat();
            const v2 = 2 * b.ToFloat();
            const v3 = 2 * c.ToFloat();
            const v4 = 2 * d.ToFloat();
            const v5 = 2 * 10;
            const v6 = 11;
            return n2f(0.5 * (v1 + v2 + v3 + v4 + v5 + v6))
        }

        Question3([a, b, c, d]: string[]): string {
            const v1 = 4 * a.ToFloat();
            const v2 = 2 * b.ToFloat();
            const v3 = 4 * c.ToFloat();
            const v4 = 2 * d.ToFloat();
            const v5 = 4 * 10;
            const v6 = 11;
            return n2f(1 / 3 * (v1 + v2 + v3 + v4 + v5 + v6))
        }

        Question4(_: string[]): string {
            return 42.13333333.toString();
        }

        Question5([a]: string[]): string {
            return n2f(1 / ((a.ToFloat() ** 0.5) * 2));
        }

        Question7([a]: string[]): string {
            return n2f(1 / (3 * a.ToFloat() ** 0.5));
        }

        Question8([A, B, C]: string[]): string {
            const a = 1 / A.ToFloat();
            const b = -(1 / B.ToFloat());
            const c = -(C.ToFloat() / B.ToFloat());
            const det = b ** 2 - 4 * a * c;
            console.log(det);
            let up = (-b + det ** 0.5) / (2 * a);
            let down = (-b - det ** 0.5) / (2 * a);
            [up, down] = [Math.max(up, down), Math.min(up, down)];
            console.log(up, down);
            const a1 = a / 3;
            const b1 = b / 2;
            const int = (x: number) => +a1 * x ** 3 + b1 * x ** 2 + c * x;
            console.log('a', int(up), 'b', int(down));
            return n2f((int(up) - int(down)).Abs());
        }

        Question9([A]: string[]): string {
            return n2f(2 / A.ToFloat());
        }

        Question10([A, B]: string[]): string {
            const a = A.ToFloat();
            const b = B.ToFloat();
            return "pi*" + n2f(a * b ** 2 - (b ** 3) / 3);
        }
    }
</script>