<template>
    <div class="intro">
        <h1>Integration Assignment 1</h1>
        <h2>Question 1</h2>
        <img :src="q1" alt="question1">
        <br>
        <label> a:
            <input @input="qt1=true" v-model="q1a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q1Answer}}
        </div>
        <hr>
        <h2>Question 2</h2>
        <img :src="q2" alt="question2">
        <br>
        <label> a:
            <input @input="qt2=true" v-model="q2a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q2Answer}}
        </div>
        <hr>
        <h2>Question 3</h2>
        <img :src="q3" alt="question3">
        <br>
        <label> a:
            <input @input="qt3=true" v-model="q3a">
        </label>
        <label> b:
            <input @input="qt3=true" v-model="q3b">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q3Answer}}
        </div>

        <hr>
        <h2>Question 4</h2>
        <img :src="q4" alt="question4">

        <br>
        <label> a:
            <input @input="qt4=true" v-model="q4a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q4Answer}}
        </div>

        <hr>
        <h2>Question 5</h2>
        <img :src="q5" alt="question5">
        <br>
        <label> a:
            <input @input="qt5=true" v-model="q5a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q5Answer}}
        </div>

        <hr>
        <h2>Question 6</h2>
        <img :src="q6" alt="question6">
        <br>
        <label> a:
            <input @input="qt6=true" v-model="q6a">
        </label>
        <label> b:
            <input @input="qt6=true" v-model="q6b">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q6Answer}}
        </div>

        <hr>
        <h2>Question 7</h2>
        <img :src="q7" alt="question7">
        <br>
        <label> a:
            <input @input="qt7=true" v-model="q7a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q7Answer}}
        </div>

        <hr>
        <h2>Question 8</h2>
        <img :src="q8" alt="question8">
        <br>
        <label> a:
            <input @input="qt8=true" v-model="q8a">
        </label>
        <label> b:
            <input @input="qt8=true" v-model="q8b">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q8Answer}}
        </div>

        <hr>
        <h2>Question 9</h2>
        <img :src="q9" alt="question8">
        <br>
        <label> a:
            <input @input="qt9=true" v-model="q9a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q9Answer}}
        </div>

        <hr>
        <h2>Question 10</h2>
        <img :src="q10" alt="question8">
        <br>
        <label> a:
            <input @input="qt10=true" v-model="q10a">
        </label>
        <div class="ans">
            Answer: <br>
            {{Q10Answer}}
        </div>

        <hr>
        <div class="outro">
            I'm Ernest from EEE (2019). If you liked this or it helped,
            visit my online <a href="https://about.kirinnee.dev" target="_blank">portfolio</a> or help me
            star my <a href="https://github.com/kirinnee">Github repositories</a>!
            <div class="h">
                <div>Thanks</div>
                <div id="heart"></div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    #heart {
        position: relative;
        width: 50px;
        height: 45px;
        animation: heartbeat 1s infinite;
        margin: 0 auto;
    }

    #heart:before,
    #heart:after {
        position: absolute;
        content: "";
        left: 25px;
        top: 0;
        width: 25px;
        height: 40px;
        background: red;
        border-radius: 25px 25px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    #heart:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }


    @keyframes heartbeat {
        0% {
            transform: scale(.75);
        }
        20% {
            transform: scale(1);
        }
        40% {
            transform: scale(.75);
        }
        60% {
            transform: scale(1);
        }
        80% {
            transform: scale(.75);
        }
        100% {
            transform: scale(.75);
        }
    }

    .h {
        div {
            float: left;

        }
    }

    .outro {
        font-size: 30px;
        margin: 30px;
        padding: 100px 0;
    }

    .intro {
        font-family: Roboto, sans-serif;

        p {
            padding: 20px;
        }

        .ans {
            margin: 20px 0;
            font-size: 20px;
        }
    }
</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {images} from "../index";
    import n2f from "num2fraction";

    @Component
    export default class Home extends Vue {
        q1: string = images.i1q1;
        q1a: number = 0;
        qt1: boolean = false;

        get Q1Answer(): string {
            return this.qt1 ? `2x*sin(${this.q1a}*x^4)` : "";
        }

        q2: string = images.i1q2;
        q2a: number = 0;
        qt2: boolean = false;

        get Q2Answer(): string {
            const a = this.q2a.ToFloat();
            return this.qt2 ? `${(a ** 3).ToFloat() + a - 1}` : "";
        }


        q3: string = images.i1q3;
        q3a: number = 0;
        q3b: number = 0;
        qt3: boolean = false;

        get Q3Answer(): string {
            const a = this.q3a;
            const b = this.q3b;
            return this.qt3 ? `${a / b}` : "";
        }


        q4: string = images.i1q4;
        q4a: number = 0;
        qt4: boolean = false;

        get Q4Answer(): string {
            const a = this.q4a;
            const root = Math.sqrt(a);
            return this.qt4 ? `1/${root * 6}` : "";
        }


        q5: string = images.i1q5;
        q5a: number = 0;
        qt5: boolean = false;

        get Q5Answer(): string {
            const a = this.q5a;
            return this.qt5 ? `(x*ln(abs(x-${a}))+${a}-x*ln(abs(x)))/((${a})^2*x)` : "";
        }

        q6: string = images.i1q6;
        q6a: number = 0;
        q6b: number = 0;
        qt6: boolean = false;

        get Q6Answer(): string {
            const a = this.q6a;
            const b = this.q6b;
            return this.qt6 ? `sin(${a}+x^${b})/${b} - ((x^${b})*cos(${a}+x^${b}))/${b}` : "";
        }


        q7: string = images.i1q7;
        q7a: number = 0;
        qt7: boolean = false;

        get Q7Answer(): string {
            const a = this.q7a;
            return this.qt7 ? `${32 * a / 12}` : "";
        }


        q8: string = images.i1q8;
        q8a: number = 0;
        q8b: number = 0;
        qt8: boolean = false;

        get Q8Answer(): string {
            const a = this.q8a;
            const b = this.q8b;
            const ans = n2f(a / 4 + b / 3);
            return this.qt8 ? ans : "";
        }

        q9: string = images.i1q9;
        q9a: number = 0;
        qt9: boolean = false;

        get Q9Answer(): string {
            const a = this.q9a.ToFloat();
            const root = Math.sqrt(a + 1);
            const left = (2 * root) / a - 2 / a;
            return this.qt9 ? n2f(left) : "";
        }


        q10: string = images.i1q10;
        q10a: number = 0;
        qt10: boolean = false;

        get Q10Answer(): string {
            const a = this.q10a;
            return this.qt10 ? `ln(${a})` : "";
        }
    }
</script>