<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        #clipboard-sim {
            opacity: 0;
            z-index: -100;
            position: absolute;
            top: -100vh;
        }
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry, this browser is not supported or Javascript is not enabled! Please enable it and try again or
        upgrade to a newer browser!</strong>
</noscript>
<textarea id="clipboard-sim"></textarea>
<div id="app"></div>
</body>
</html>